In [10]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('userSimilarity.csv')

In [12]:
df.head()

,user,769,1333,1442,1527,2000,2213,2455,2469,2787,...,2648287,2648351,2648465,2648502,2648589,2648730,2648734,2648853,2648869,2648885
0,769,1.000000,0.335204,0.037336,-0.494102,0.162405,0.022145,-0.019031,-0.311071,0.331131,...,0.288319,-0.528059,0.194701,0.335825,0.208031,2.992205e-01,-0.005673,0.488824,0.394292,0.312831
1,1333,0.335204,1.000000,-0.237730,-0.324644,0.432416,-0.129755,0.021222,-0.042043,0.150671,...,0.197185,-0.130631,0.334084,0.381261,0.170863,1.689015e-01,0.003293,0.369940,0.229333,0.349495
2,1442,0.037336,-0.237730,1.000000,0.437741,0.080413,0.099581,0.290808,-0.289068,0.241479,...,0.288714,0.423560,-0.073502,-0.340926,-0.273551,3.938446e-02,0.043138,-0.160540,-0.165914,0.120316
3,1527,-0.494102,-0.324644,0.437741,1.000000,0.049397,0.169711,-0.025649,-0.050443,0.172506,...,0.388375,0.051503,0.116501,-0.405684,-0.167426,-9.041902e-02,0.230598,-0.591097,-0.190300,0.122943
4,2000,0.162405,0.432416,0.080413,0.049397,1.000000,-0.329344,0.382305,-0.217882,0.332038,...,0.440580,0.093678,0.066710,0.097569,0.297330,3.888831e-17,0.125483,-0.076139,0.335405,0.473040

In [13]:
userSimilarityMatrix = df
userSimilarityMatrix = userSimilarityMatrix.set_index('user')
# userSimilarityMatrix.head()

examinedUserIndex = int(userSimilarityMatrix.columns[0])
userSimilarityMatrix.drop(index=examinedUserIndex, inplace=True)
userSimilarityMatrix.head()

,769,1333,1442,1527,2000,2213,2455,2469,2787,2905,...,2648287,2648351,2648465,2648502,2648589,2648730,2648734,2648853,2648869,2648885
user,,,,,,,,,,,,,,,,,,,,,
1333,0.335204,1.000000,-0.237730,-0.324644,0.432416,-0.129755,0.021222,-0.042043,0.150671,-0.162594,...,0.197185,-0.130631,0.334084,0.381261,0.170863,1.689015e-01,0.003293,3.699404e-01,0.229333,0.349495
1442,0.037336,-0.237730,1.000000,0.437741,0.080413,0.099581,0.290808,-0.289068,0.241479,-0.319644,...,0.288714,0.423560,-0.073502,-0.340926,-0.273551,3.938446e-02,0.043138,-1.605403e-01,-0.165914,0.120316
1527,-0.494102,-0.324644,0.437741,1.000000,0.049397,0.169711,-0.025649,-0.050443,0.172506,0.295312,...,0.388375,0.051503,0.116501,-0.405684,-0.167426,-9.041902e-02,0.230598,-5.910967e-01,-0.190300,0.122943
2000,0.162405,0.432416,0.080413,0.049397,1.000000,-0.329344,0.382305,-0.217882,0.332038,-0.156547,...,0.440580,0.093678,0.066710,0.097569,0.297330,3.888831e-17,0.125483,-7.613870e-02,0.335405,0.473040
2213,0.022145,-0.129755,0.099581,0.169711,-0.329344,1.000000,0.237944,0.048928,0.169857,0.440741,...,-0.199599,0.025688,0.047548,0.015939,-0.039474,2.406775e-03,0.126421,7.702857e-18,0.025994,-0.009642

In [14]:
# Target number of similar users
n = 10

# Get top n similar users
#userSimilarityMatrix[0]
similarUsers = userSimilarityMatrix[str(examinedUserIndex)].nlargest(n).index.tolist()
values = userSimilarityMatrix[str(examinedUserIndex)].nlargest(n).tolist()

# Print out top n similar users
print(f'The similar users near user {examinedUserIndex} are', similarUsers)
print(f'The similarity values for user {examinedUserIndex} are', values)

The similar users near user 769 are [169391, 689758, 2126435, 1160772, 1565082, 335615, 1150125, 2447868, 983389, 943538]
The similarity values for user 769 are [0.8183916537036721, 0.8164965809277259, 0.806225774829855, 0.8058229640253803, 0.7660092716142686, 0.761331015061245, 0.7607257743127308, 0.7423523129362093, 0.7359036318809289, 0.7353675210498322]

In [15]:
masterDf = pd.read_csv('masterDf.csv')
masterDf.head()

,user,1,2,3,4,5,6,7,8,9,...,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250
0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
masterDf1 = masterDf.set_index('user')
masterDf1.head()

,1,2,3,4,5,6,7,8,9,10,...,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250
user,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
print(masterDf1.shape[0])

425415

In [18]:
masterDfNorm = masterDf1.subtract(masterDf1.mean(axis=1), axis = 'rows')
masterDfNorm.head(10)

,1,2,3,4,5,6,7,8,9,10,...,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250
user,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.744681,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-2.0,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
print(masterDfNorm.shape[0])

425415

In [20]:
# Movies that the target user has watched
picked_userid_watched = masterDfNorm[masterDfNorm.index == examinedUserIndex].dropna(axis=1, how='all')
picked_userid_watched

,126,143,156,175,191,197,199,241,253,290,...,1066,1068,1074,1104,1144,1174,1175,1180,1202,1220
user,,,,,,,,,,,,,,,,,,,,,
769,-0.114286,0.885714,-1.114286,1.885714,-0.114286,-1.114286,0.885714,1.885714,-0.114286,-0.114286,...,-0.114286,0.885714,0.885714,-0.114286,-1.114286,-0.114286,-0.114286,0.885714,0.885714,-0.114286

In [21]:
masterDfNorm.head()

,1,2,3,4,5,6,7,8,9,10,...,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250
user,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.744681,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
similar_user_movies = masterDfNorm[masterDfNorm.index.isin(similarUsers)].dropna(axis=1, how='all')
similar_user_movies

,3,18,25,27,28,30,33,36,38,39,...,1217,1220,1221,1224,1226,1229,1231,1245,1249,1250
user,,,,,,,,,,,,,,,,,,,,,
169391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.476923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335615,NaN,-0.016393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689758,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
943538,NaN,NaN,NaN,NaN,NaN,-0.772277,NaN,-0.772277,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.772277
983389,NaN,NaN,NaN,NaN,0.337662,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.662338,NaN,0.337662,NaN,NaN
1150125,NaN,0.733333,NaN,NaN,-0.266667,0.733333,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.266667,NaN,-0.266667,-0.266667,NaN,NaN,NaN,NaN
1160772,NaN,NaN,1.419753,1.419753,NaN,-0.580247,1.419753,NaN,NaN,NaN,...,-2.580247,-0.580247,NaN,NaN,NaN,NaN,-0.580247,NaN,NaN,NaN
1565082,1.094737,0.094737,NaN,NaN,NaN,NaN,NaN,NaN,-1.905263,-1.905263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.905263,-0.905263,NaN
2126435,NaN,NaN,NaN,NaN,NaN,-0.566667,NaN,-1.566667,NaN,NaN,...,NaN,NaN,NaN,0.433333,NaN,NaN,NaN,NaN,NaN,0.433333
2447868,NaN,NaN,NaN,NaN,NaN,-0.333333,NaN,NaN,NaN,NaN,...,NaN,-0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Remove the watched movie from the movie list
similar_user_movies.drop(picked_userid_watched.columns,axis=1, inplace=True, errors='ignore')
# Take a look at the data
similar_user_movies

,3,18,25,27,28,30,33,36,38,39,...,1213,1217,1221,1224,1226,1229,1231,1245,1249,1250
user,,,,,,,,,,,,,,,,,,,,,
169391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335615,NaN,-0.016393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689758,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
943538,NaN,NaN,NaN,NaN,NaN,-0.772277,NaN,-0.772277,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.772277
983389,NaN,NaN,NaN,NaN,0.337662,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.662338,NaN,0.337662,NaN,NaN
1150125,NaN,0.733333,NaN,NaN,-0.266667,0.733333,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.266667,NaN,-0.266667,-0.266667,NaN,NaN,NaN,NaN
1160772,NaN,NaN,1.419753,1.419753,NaN,-0.580247,1.419753,NaN,NaN,NaN,...,NaN,-2.580247,NaN,NaN,NaN,NaN,-0.580247,NaN,NaN,NaN
1565082,1.094737,0.094737,NaN,NaN,NaN,NaN,NaN,NaN,-1.905263,-1.905263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.905263,-0.905263,NaN
2126435,NaN,NaN,NaN,NaN,NaN,-0.566667,NaN,-1.566667,NaN,NaN,...,NaN,NaN,NaN,0.433333,NaN,NaN,NaN,NaN,NaN,0.433333
2447868,NaN,NaN,NaN,NaN,NaN,-0.333333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# A dictionary to store item scores
similarUsersDict = dict(zip(similarUsers, values))

item_score = {}
# Loop through items
for i in similar_user_movies.columns:
    
  # Get the ratings for movie i
  movie_rating = similar_user_movies[i]
  # Create a variable to store the score
  total = 0
  # Create a variable to store the number of scores
  count = 0
  
 # Loop through similar users
  for u in similarUsersDict.keys():
    # If the movie has rating
    if pd.isna(movie_rating[u]) == False:
      # Score is the sum of user similarity score multiply by the movie rating
      score = similarUsersDict[u] * movie_rating[u]
      # Add the score to the total score for the movie so far
      total += score
      # Add 1 to the count
      count +=1
  # Get the average score for the item
  item_score[i] = total / count
# Convert dictionary to pandas dataframe
item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])
    
# Sort the movies by score
ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
# Select top m movies
m = 10
ranked_item_score.head(m)

    movie  movie_score
157   645     1.604588
151   624     1.604588
112   459     1.604588
204   825     1.237254
55    270     1.224019
81    359     1.217162
258  1020     1.177038
145   595     1.155590
195   774     1.155590
141   579     1.155590