In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('combined_data_1.txt', delimiter='\t', header=None)
df = df[0].str.split(',', expand=True)

In [3]:
df

                0     1           2
0              1:  None        None
1         1488844     3  2005-09-06
2          822109     5  2005-05-13
3          885013     4  2005-10-19
4           30878     4  2005-12-26
...           ...   ...         ...
24058258  2591364     2  2005-02-16
24058259  1791000     2  2005-02-10
24058260   512536     5  2005-07-27
24058261   988963     3  2005-12-20
24058262  1704416     3  2004-06-02

[24058263 rows x 3 columns]

In [13]:
dfIndices = np.where(df.isnull().any(axis=1))[0]

dfList = []
for i in range(0,len(dfIndices)-1):
    #print(dfIndices[i], dfIndices[i+1])
    newDf = df.iloc[dfIndices[i]:dfIndices[i+1]]
    dfList.append(newDf)

#print(dfList[2])
print(str(len(dfList)) + " total movies")

0 total movies

In [4]:
i=0
while i < len(dfList):
    if len(dfList[i]) < 101:
        dfList.pop(i)
    i += 1

print(len(dfList))

4255

In [5]:
masterDf = pd.DataFrame()

In [6]:
for movie in dfList:
    for i in range(1,len(movie)):
        print(len(movie[i]))
        print(movie[i])
        break
        break
        print(row)

548
0      None
1         3
2         5
3         4
4         4
       ...
543       4
544       3
545       4
546       4
547       5
Name: 1, Length: 548, dtype: object
146
548    None
549       4
550       3
551       4
552       5
       ...
689       3
690       1
691       4
692       3
693       5
Name: 1, Length: 146, dtype: object
2013
694     None
695        4
696        5
697        4
698        3
        ...
2702       4
2703       4
2704       2
2705       4
2706       4
Name: 1, Length: 2013, dtype: object
143
2707    None
2708       3
2709       1
2710       5
2711       3
        ...
2845       5
2846       3
2847       5
2848       1
2849       4
Name: 1, Length: 143, dtype: object
1141
2850    None
2851       5
2852       5
2853       5
2854       1
        ...
3986       4
3987       5
3988       5
3989       4
3990       1
Name: 1, Length: 1141, dtype: object
1020
3991    None
3992       1
3993       1
3994       2
3995       1
        ...
5006       1
5007       3
5008       1
5009       1
5010       3
Name: 1, Length: 1020, dtype: object
14911
5105     None
5106        2
5107        5
5108        3
5109        1
         ...
20011       3
20012       5
20013       3
20014       4
20015       1
Name: 1, Length: 14911, dtype: object
250
20112    None
20113       2
20114       2
20115       5
20116       3
         ...
20357       3
20358       4
20359       3
20360       3
20361       4
Name: 1, Length: 250, dtype: object
199
20362    None
20363       5
20364       2
20365       3
20366       3
         ...
20556       4
20557       1
20558       4
20559       2
20560       3
Name: 1, Length: 199, dtype: object
547
20561    None
20562       4
20563       5
20564       3
20565       4
         ...
21103       3
21104       5
21105       3
21106       2
21107       5
Name: 1, Length: 547, dtype: object
126
21108    None
21109       5
21110       5
21111       4
21112       3
         ...
21229       4
21230       5
21231       5
21232       5
21233       5
Name: 1, Length: 126, dtype: object
119
21234    None
21235       3
21236       2
21237       3
21238       1
         ...
21348       5
21349       3
21350       4
21351       4
21352       4
Name: 1, Length: 119, dtype: object
291
21353    None
21354       5
21355       4
21356       2
21357       3
         ...
21639       3
21640       3
21641       3
21642       4
21643       4
Name: 1, Length: 291, dtype: object
2700
21644    None
21645       2
21646       3
21647       3
21648       5
         ...
24339       1
24340       2
24341       2
24342       4
24343       2
Name: 1, Length: 2700, dtype: object
7109
24344    None
24345       4
24346       5
24347       3
24348       5
         ...
31448       2
31449       4
31450       2
31451       3
31452       4
Name: 1, Length: 7109, dtype: object
10723
31453    None
31454       4
31455       4
31456       4
31457       4
         ...
42171       4
42172       2
42173       5
42174       5
42175       5
Name: 1, Length: 10723, dtype: object
540
42176    None
42177       3
42178       5
42179       4
42180       2
         ...
42711       4
42712       3
42713       3
42714       4
42715       5
Name: 1, Length: 540, dtype: object
117
42716    None
42717       2
42718       3
42719       3
42720       4
         ...
42828       4
42829       2
42830       3
42831       4
42832       3
Name: 1, Length: 117, dtype: object
219
42833    None
42834       4
42835       3
42836       3
42837       4
         ...
43047       3
43048       3
43049       3
43050       3
43051       4
Name: 1, Length: 219, dtype: object
204
43052    None
43053       1
43054       2
43055       3
43056       2
         ...
43251       4
43252       3
43253       2
43254       4
43255       1
Name: 1, Length: 204, dtype: object
616
43256    None
43257       5
43258       1
43259       3
43260       2
         ...
43867       5
43868       2
43869       4
43870       4
43871       3
Name: 1, Length: 616, dtype: object
1334
43872    None
43873       4
43874       3
43875       3
43876       3
         ...
45201       3
45202       4
45203       5
45204       3
45205       2
Name: 1, Length: 1334, dtype: object
1208
45206    None
45207       5
45208       5
45209       4
45210       4
         ...
46409       4
46410       3
46411       5
46412       3
46413       5
Name: 1, Length: 1208, dtype: object
5862
46414    None
46415       3
46416       3
46417       3
46418       3
         ...
52271       5
52272       2
52273       3
52274       3
52275       2
Name: 1, Length: 5862, dtype: object
274
52276    None
52277       4
52278       4
52279       4
52280       2
         ...
52545       3
52546       2
52547       3
52548       4
52549       4
Name: 1, Length: 274, dtype: object
39753
52550    None
52551       4
52552       4
52553       5
52554       5
         ...
92298       4
92299       4
92300       5
92301       4
92302       5
Name: 1, Length: 39753, dtype: object
524
92303    None
92304       4
92305       4
92306       5
92307       3
         ...
92822       3
92823       4
92824       4
92825       3
92826       3
Name: 1, Length: 524, dtype: object
118414
92827     None
92828        5
92829        5
92830        3
92831        4
          ...
211236       4
211237       2
211238       4
211239       4
211240       5
Name: 1, Length: 118414, dtype: object
222
211241    None
211242       2
211243       5
211244       4
211245       5
          ...
211458       3
211459       4
211460       4
211461       4
211462       4
Name: 1, Length: 222, dtype: object
1855
211463    None
211464       4
211465       5
211466       5
211467       3
          ...
213313       4
213314       4
213315       5
213316       5
213317       4
Name: 1, Length: 1855, dtype: object
6891
213318    None
213319       5
213320       3
213321       4
213322       5
          ...
220204       4
220205       1
220206       4
220207       5
220208       4
Name: 1, Length: 6891, dtype: object
109
220209    None
220210       4
220211       1
220212       2
220213       3
          ...
220313       4
220314       2
220315       3
220316       4
220317       2
Name: 1, Length: 109, dtype: object
840
220318    None
220319       2
220320       3
220321       4
220322       3
          ...
221153       3
221154       3
221155       3
221156       3
221157       4
Name: 1, Length: 840, dtype: object
940
221158    None
221159       3
221160       5
221161       1
221162       2
          ...
222093       1
222094       5
222095       3
222096       3
222097       3
Name: 1, Length: 940, dtype: object
282
222098    None
222099       3
222100       5
222101       5
222102       3
          ...
222375       5
222376       5
222377       5
222378       4
222379       4
Name: 1, Length: 282, dtype: object
803
222380    None
222381       5
222382       1
222383       2
222384       3
          ...
223178       1
223179       3
223180       1
223181       2
223182       2
Name: 1, Length: 803, dtype: object
753
223183    None
223184       3
223185       2
223186       3
223187       1
          ...
223931       3
223932       3
223933       2
223934       2
223935       1
Name: 1, Length: 753, dtype: object
492
223936    None
223937       4
223938       3
223939       3
223940       2
          ...
224423       3
224424       1
224425       3
224426       2
224427       2
Name: 1, Length: 492, dtype: object
129
224522    None
224523       3
224524       2
224525       2
224526       2
          ...
224646       2
224647       2
224648       1
224649       1
224650       1
Name: 1, Length: 129, dtype: object
106
224651    None
224652       4
224653       3
224654       1
224655       2
          ...
224752       3
224753       5
224754       1
224755       5
224756       3
Name: 1, Length: 106, dtype: object
8502
224757    None
224758       5
224759       3
224760       4
224761       3
          ...
233254       4
233255       1
233256       3
233257       3
233258       5
Name: 1, Length: 8502, dtype: object
2620
233259    None
233260       3
233261       1
233262       3
233263       2
          ...
235874       2
235875       3
235876       3
235877       3
235878       4
Name: 1, Length: 2620, dtype: object
6559
235879    None
235880       4
235881       4
235882       2
235883       3
          ...
242433       3
242434       5
242435       4
242436       2
242437       1
Name: 1, Length: 6559, dtype: object
2351
242438    None
242439       3
242440       4
242441       4
242442       3
          ...
244784       3
244785       4
244786       2
244787       5
244788       4
Name: 1, Length: 2351, dtype: object
3592
244789    None
244790       5
244791       3
244792       3
244793       4
          ...
248376       5
248377       2
248378       1
248379       3
248380       5
Name: 1, Length: 3592, dtype: object
232
248381    None
248382       5
248383       4
248384       4
248385       1
          ...
248608       5
248609       4
248610       4
248611       3
248612       5
Name: 1, Length: 232, dtype: object
329
248613    None
248614       3
248615       3
248616       2
248617       2
          ...
248937       2
248938       4
248939       4
248940       4
248941       2
Name: 1, Length: 329, dtype: object
5148
249033    None
249034       4
249035       4
249036       4
249037       3
          ...
254176       5
254177       4
254178       5
254179       5
254180       3
Name: 1, Length: 5148, dtype: object
115
254181    None
254182       2
254183       3
254184       1
254185       1
          ...
254291       1
254292       2
254293       2
254294       2
254295       1
Name: 1, Length: 115, dtype: object
160
254296    None
254297       3
254298       1
254299       2
254300       3
          ...
254451       3
254452       3
254453       2
254454       3
254455       2
Name: 1, Length: 160, dtype: object
2407
254456    None
254457       2
254458       2
254459       3
254460       3
          ...
256858       3
256859       5
256860       3
256861       3
256862       1
Name: 1, Length: 2407, dtype: object
1834
256863    None
256864       5
256865       5
256866       4
256867       3
          ...
258692       4
258693       3
258694       2
258695       2
258696       4
Name: 1, Length: 1834, dtype: object
3563
258697    None
258698       2
258699       4
258700       4
258701       4
          ...
262255       4
262256       3
262257       3
262258       1
262259       5
Name: 1, Length: 3563, dtype: object
17406
262260    None
262261       4
262262       4
262263       4
262264       3
          ...
279661       3
279662       4
279663       4
279664       5
279665       3
Name: 1, Length: 17406, dtype: object
205
279666    None
279667       3
279668       2
279669       2
279670       3
          ...
279866       2
279867       3
279868       4
279869       3
279870       3
Name: 1, Length: 205, dtype: object
296
279871    None
279872       1
279873       2
279874       4
279875       1
          ...
280162       2
280163       2
280164       1
280165       2
280166       1
Name: 1, Length: 296, dtype: object
148
280167    None
280168       5
280169       3
280170       3
280171       3
          ...
280310       4
280311       5
280312       3
280313       1
280314       5
Name: 1, Length: 148, dtype: object
291
280315    None
280316       5
280317       5
280318       4
280319       4
          ...
280601       3
280602       3
280603       3
280604       3
280605       3
Name: 1, Length: 291, dtype: object
185
280606    None
280607       4
280608       4
280609       4
280610       1
          ...
280786       4
280787       4
280788       4
280789       3
280790       3
Name: 1, Length: 185, dtype: object
259
280887    None
280888       2
280889       2
280890       2
280891       4
          ...
281141       2
281142       3
281143       4
281144       1
281145       2
Name: 1, Length: 259, dtype: object
167
281146    None
281147       2
281148       2
281149       1
281150       3
          ...
281308       3
281309       4
281310       5
281311       3
281312       1
Name: 1, Length: 167, dtype: object
290
281313    None
281314       2
281315       3
281316       3
281317       3
          ...
281598       3
281599       4
281600       1
281601       4
281602       2
Name: 1, Length: 290, dtype: object
2217
281603    None
281604       5
281605       5
281606       5
281607       3
          ...
283815       1
283816       4
283817       5
283818       4
283819       1
Name: 1, Length: 2217, dtype: object
117
283820    None
283821       3
283822       2
283823       1
283824       4
          ...
283932       1
283933       1
283934       4
283935       4
283936       5
Name: 1, Length: 117, dtype: object
344
283937    None
283938       1
283939       3
283940       5
283941       3
          ...
284276       5
284277       4
284278       3
284279       3
284280       4
Name: 1, Length: 344, dtype: object
1562
284281    None
284282       4
284283       5
284284       2
284285       4
          ...
285838       4
285839       1
285840       4
285841       1
285842       2
Name: 1, Length: 1562, dtype: object
180
285843    None
285844       2
285845       2
285846       4
285847       2
          ...
286018       5
286019       3
286020       3
286021       5
286022       3
Name: 1, Length: 180, dtype: object
748
286023    None
286024       5
286025       5
286026       5
286027       5
          ...
286766       4
286767       5
286768       3
286769       3
286770       4
Name: 1, Length: 748, dtype: object
389
286771    None
286772       3
286773       4
286774       4
286775       3
          ...
287155       3
287156       2
287157       4
287158       3
287159       2
Name: 1, Length: 389, dtype: object
220
287160    None
287161       3
287162       3
287163       3
287164       3
          ...
287375       1
287376       4
287377       4
287378       4
287379       3
Name: 1, Length: 220, dtype: object
2955
287380    None
287381       1
287382       4
287383       5
287384       4
          ...
290330       1
290331       5
290332       5
290333       5
290334       5
Name: 1, Length: 2955, dtype: object
13599
290335    None
290336       4
290337       1
290338       1
290339       2
          ...
303929       5
303930       4
303931       3
303932       4
303933       2
Name: 1, Length: 13599, dtype: object
4851
303934    None
303935       3
303936       1
303937       5
303938       3
          ...
308780       3
308781       4
308782       1
308783       5
308784       3
Name: 1, Length: 4851, dtype: object
3398
308785    None
308786       4
308787       5
308788       5
308789       3
          ...
312178       3
312179       3
312180       4
312181       3
312182       3
Name: 1, Length: 3398, dtype: object
275
312183    None
312184       1
312185       3
312186       4
312187       3
          ...
312453       5
312454       2
312455       3
312456       5
312457       3
Name: 1, Length: 275, dtype: object
1250
312458    None
312459       3
312460       3
312461       3
312462       4
          ...
313703       2
313704       5
313705       3
313706       5
313707       4
Name: 1, Length: 1250, dtype: object
120
313708    None
313709       4
313710       3
313711       3
313712       3
          ...
313823       3
313824       3
313825       3
313826       1
313827       4
Name: 1, Length: 120, dtype: object
18725
313828    None
313829       3
313830       4
313831       2
313832       4
          ...
332548       4
332549       4
332550       5
332551       5
332552       4
Name: 1, Length: 18725, dtype: object
2753
332553    None
332554       5
332555       4
332556       4
332557       2
          ...
335301       3
335302       4
335303       4
335304       2
335305       5
Name: 1, Length: 2753, dtype: object
267
335306    None
335307       4
335308       3
335309       4
335310       5
          ...
335568       5
335569       4
335570       5
335571       4
335572       2
Name: 1, Length: 267, dtype: object
177
335573    None
335574       1
335575       2
335576       3
335577       3
          ...
335745       2
335746       2
335747       1
335748       1
335749       1
Name: 1, Length: 177, dtype: object
118
335750    None
335751       5
335752       4
335753       5
335754       3
          ...
335863       5
335864       4
335865       1
335866       2
335867       5
Name: 1, Length: 118, dtype: object
979
335868    None
335869       4
335870       4
335871       4
335872       3
          ...
336842       5
336843       1
336844       4
336845       5
336846       1
Name: 1, Length: 979, dtype: object
879
336847    None
336848       2
336849       2
336850       2
336851       2
          ...
337721       1
337722       4
337723       5
337724       3
337725       4
Name: 1, Length: 879, dtype: object
626
337726    None
337727       3
337728       5
337729       4
337730       4
          ...
338347       4
338348       5
338349       5
338350       4
338351       3
Name: 1, Length: 626, dtype: object
568
338352    None
338353       4
338354       5
338355       5
338356       5
          ...
338915       5
338916       5
338917       5
338918       2
338919       1
Name: 1, Length: 568, dtype: object
162
338920    None
338921       5
338922       5
338923       3
338924       1
          ...
339077       3
339078       4
339079       3
339080       4
339081       3
Name: 1, Length: 162, dtype: object
175
339082    None
339083       4
339084       4
339085       3
339086       3
          ...
339252       3
339253       2
339254       2
339255       4
339256       3
Name: 1, Length: 175, dtype: object
343
339257    None
339258       4
339259       2
339260       5
339261       2
          ...
339595       5
339596       4
339597       3
339598       5
339599       3
Name: 1, Length: 343, dtype: object
936
339600    None
339601       1
339602       4
339603       4
339604       3
          ...
340531       2
340532       5
340533       3
340534       2
340535       3
Name: 1, Length: 936, dtype: object
489
340536    None
340537       4
340538       3
340539       3
340540       3
          ...
341020       4
341021       4
341022       4
341023       3
341024       3
Name: 1, Length: 489, dtype: object
11509
341025    None
341026       3
341027       2
341028       4
341029       4
          ...
352529       4
352530       4
352531       4
352532       4
352533       4
Name: 1, Length: 11509, dtype: object
131
352534    None
352535       2
352536       4
352537       4
352538       2
          ...
352660       5
352661       2
352662       4
352663       3
352664       4
Name: 1, Length: 131, dtype: object
127
352665    None
352666       3
352667       1
352668       2
352669       4
          ...
352787       2
352788       1
352789       2
352790       3
352791       3
Name: 1, Length: 127, dtype: object
331
352871    None
352872       3
352873       3
352874       2
352875       4
          ...
353197       3
353198       5
353199       1
353200       3
353201       1
Name: 1, Length: 331, dtype: object
331
353202    None
353203       3
353204       4
353205       2
353206       4
          ...
353528       1
353529       1
353530       2
353531       1
353532       1
Name: 1, Length: 331, dtype: object
210
353533    None
353534       4
353535       4
353536       1
353537       4
          ...
353738       5
353739       5
353740       4
353741       5
353742       5
Name: 1, Length: 210, dtype: object
3501
353743    None
353744       3
353745       2
353746       3
353747       2
          ...
357239       4
357240       4
357241       4
357242       4
357243       1
Name: 1, Length: 3501, dtype: object
193
357244    None
357245       3
357246       3
357247       5
357248       3
          ...
357432       2
357433       3
357434       2
357435       3
357436       3
Name: 1, Length: 193, dtype: object
941
357437    None
357438       5
357439       5
357440       4
357441       4
          ...